:root {
  --x: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text font-size='90' y='1em'>❌</text></svg>") right 3px top 50% / auto 80% no-repeat;
  --v: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text font-size='90' y='1em'>✅</text></svg>") right 3px top 50% / auto 80% no-repeat;
}

body {
  background-color: #8fa486;
  color: #003736;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  box-shadow: #1f4821 7px 8px 15px;
  margin: 25px;
  background-color: #c6dbbe;
  place-content: center;
}

article {
  margin: 20px;
  border: 1px solid black;
}

article > :nth-child(even) {
  background-color: #c6dbbe;
}

.div {
  display: flex;
}

h1 {
  margin: 0;
  padding: 10px;
}

h2 {
  padding: 0;
  font-size: 110%;
  margin: 0;
}
.pets article > * {
  padding: 8px 20px 0 20px;
}
.pet p {
  margin: 0;
  padding-left: 10px;
  font-size: 110%;
  padding-bottom: 0px;
}

/*-------------bubble---------------*/
.range-wrap {
  width: 220px;
  position: relative;
}
.range {
  width: 100%;
}
.bubble {
  background: #003736;
  color: #c6dbbe;
  padding: 2px 8px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #003736;
  top: -4px;
  left: 50%;
}

/*---------------form-style------------*/

form {
  accent-color: #19894d;
  gap: 1rem;
  display: grid;
  width: 400px;
  margin: 25px;
  background-color: #c6dbbe;
  box-shadow: #1f4821 7px 8px 15px;
  /* place-items: center; */
}

p#traits {
  margin: 0;
  font-size: 70%;
  width: 220px;
}

form > * {
  margin-left: 60px;
  margin-right: 60px;
}
label,
.label,
.range-wrap {
  margin-top: 15px;
}

input {
  width: 220px;
  background-color: #e9f8e3;
  border-radius: 4px;
  border: 0;
}

input#alive,
input#dead {
  width: auto;
}

#flex {
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 100px;
  place-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #19894d;
  box-shadow: #1f4821 1px 1px 3px;
  border: none;
  cursor: pointer;
  color: #e9f8e3;
  font-size: 90%;
}

.actions {
  display: flex;
  justify-content: space-around;
}

div.actions {
  padding: 0;
}

.add_trait {
  padding: 2px;
  width: 20px;
  cursor: pointer;
  display: inline;
  margin: 0;
  margin-top: 4px;
}

input:focus {
  outline: rgb(44, 44, 255) 2px solid;
}

input:required:not(:focus, :placeholder-shown) {
  border-color: red;
  background: var(--x);
}

input:valid:required {
  border-color: green;
  background: var(--v);
}

input:valid:not(:focus, :placeholder-shown) {
  border-color: green;
  background: var(--v);
}

#birth:valid {
  background: none;
  background-color: #e9f8e3;
}
